/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *  require_tree .
 *  require_self
 *= require metismenu
 */
@import "bootstrap";
@import "daterangepicker-bs3";
@import "select2";
@import "select2-bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mixins";

@import "themes/custom-theme";
@import "components/*";
@import "shared/*";
@import "shared/header/*";
@import "scrollbar";
@import "admin/*";
@import "admin/**/*";

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
	font-family: 'Open Sans', sans-serif;
	color: $color-text;
	overflow-x: hidden;
}

.main-wrapper {
	width: 100%;
	position: absolute;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#ref {
	.color-primary {
		color: $color-primary;
	}

	.chart {
		.color-primary {
			color: $chart-color-primary;
		}
		.color-secondary {
			color: $chart-color-secondary;
		}
	}
}

.app {
	position: relative;
	width: 100%;
	padding-left: $sidebar-width;
	min-height: 100vh;
	margin: 0 auto;
	left: 0;
	background-color: $color-bg;
	box-shadow: 0 0 3px #ccc;
	transition: left 0.3s ease, padding-left 0.3s ease;
	overflow: hidden;

	.content {

		$padding-x: $content-padding-x-md;
		$padding-y: $content-padding-y-md;

		padding: $header-height + $padding-y $padding-x $footer-height + $padding-y $padding-x;
		min-height: 100vh;

		@include media-up(xl) {
			$padding-x: $content-padding-x-xl;
			$padding-y: $content-padding-y-xl;

			padding: $header-height + $padding-y $padding-x $footer-height + $padding-y $padding-x;
		}

		@include media(lg) {
			$padding-x: $content-padding-x-lg;
			$padding-y: $content-padding-y-lg;

			padding: $header-height + $padding-y $padding-x $footer-height + $padding-y $padding-x;
		}

		@include media(md) {
			$padding-x: $content-padding-x-md;
			$padding-y: $content-padding-y-md;

			padding: $header-height + $padding-y $padding-x $footer-height + $padding-y $padding-x;
		}

		@include media-down(sm) {
			$padding-x: $content-padding-x-sm;
			$padding-y: $content-padding-y-sm;

			padding: $header-height-xs + $padding-y $padding-x $footer-height + $padding-y $padding-x;
		}
	}


	@include media-down(md) {
		padding-left: 0;
		// background-color: #ccc;
		// left: -$sidebar-width;
		// width: calc(100% + #{$sidebar-width});
	}

	&.sidebar-open {
		// Disable content scrolling when sidebar is open
		@include media-down(md) {
			left: 0;
			// position: absolute;
			// height: 100%;
			// overflow: hidden;
		}
	}
	&.blank {
		background-color: #667380;
	}
}

.breadcrumbs {
	margin: -30px 0 30px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  margin-top: 0;
}

.hidden {
	display: none;
}
